AFFILIATE_FRONTEND_URL=
ERP_FRONTEND_URL=

ALLOW_SUPER_ADMIN_BOOTSTRAP=

SECRET_KEY=your_secret_key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
JWT_REFRESH_EXPIRY=5

PAYSTACK_SECRET_KEY=
NUBAN_SECRET_KEY=

DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_NAME=
DB_TYPE=

ALEMBIC_DATABASE_URL=

# Mail configurations
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=
MAIL_PORT=465
MAIL_SERVER=

S3_BUCKET_NAME=

AWS_ACCESS_KEY_ID=...
AWS_SECRET_ACCESS_KEY=...
AWS_REGION=us-east-1

VERIFY_TOKEN=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=